@import "~materialize-css/dist/css/materialize.min.css";

input.yellow-input {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

input.yellow-input + label {
  color:#fff !important;
}

input.yellow-input:focus + label {
  color:#ffeb3b !important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b !important;
  box-shadow: 0 1px 0 0 #ffeb3b !important;
}

.sidepanel {
  position: fixed;
	z-index: 999;
	top: 0;
	left: -100%;
	bottom: 0;
	background-color: #fff;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-transition: left 0.2s 0s;
	-o-transition: left 0.2s 0s;
	transition: left 0.2s 0s;
	width: 30rem;
	padding: 1.5rem;
}

.sidepanel.open {
  left: 0;
}

.sidepanel .close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: right;
}

.sidepanel .wrapper {
  padding: 3rem 2rem;
}

.overlay {
	display: block;
	position: fixed;
	z-index: 899;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: black;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	opacity: 0;
	pointer-events: none;
}

.overlay.active {
	opacity: 0.25;
	pointer-events: all;
}